hidapi
matplotlib>=3.2.2
numpy==1.23.0
opencv-python>=4.1.2
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.41.0
tensorboard>=2.4.1
seaborn>=0.11.0
pandas
PyQt5
mss
dxcam
bettercam
protobuf==4.21.0
ipython
ultralytics
pyserial

pygame
pynput
pywin32
requests
wheel
termcolor
gpustat
py-cpuinfo
pyautogui
vgamepad
XInput-Python